
main, #drawing {
    min-width: 100%;
    min-height: 84vh;
}

.no-select {
    user-select: none;
}
.drag {
    -webkit-app-region: drag;
}

.no-drag {
    -webkit-app-region: no-drag;
}

button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: none;
    appearance: none;
}

#navwin {
    -webkit-app-region: no-drag;
    flex-direction: row !important;
}

#drawing {
    border: 1px solid green;
}

#container {
    position: relative;
    
}

#board {
    position: absolute;
}
#container, #board {
    height: 800px;
    width: 800px;
    top: 0px;
    left: 0px;
}